<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chest Diseases Diagnosis</title>
    <!-- include bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center">Chest Diseases Diagnosis</h1>

    <!-- add a form to upload the image that will be predicted -->
    <form class="p-3 text-center" action="/" method="post" enctype="multipart/form-data">
        <input class="form-control" type="file" name="imagefile">
        <input class="btn btn-primary mt-3" type="submit" value="Predict Disease (X-ray Image)">
    </form>
</body>
</html>